.div-dialog {
    display: flex;
    justify-content: center;

    .div-title {
        display: flex;
        padding: 0px 30px;
        min-width: 600px;
        border-radius: 3px 3px 0px 0px;
        border-bottom: 1px solid var(--neutral-2-f-2, #f2f2f2);
        background: var(--Background-Title-popup, #fbfaf4);

        .div-p-close {
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: center;

            .div-p {
                display: flex;
                width: 100%;
                justify-content: center;

                p {
                    margin: 10px;
                    color: var(--neutral-8-text, #333);
                    text-align: center;
                    font-family: Roboto;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 20px;
                    letter-spacing: 0.216px;
                }
            }
            .div-close {
                display: flex;

                button {
                    display: flex;
                    padding: 7px;
                    border: none;
                    border-radius: 100px;
                    background: var(--neutral-4-line, #d8d7d7);
                }
            }
        }
    }

    form {
        display: flex;
        width: 100%;
        flex-direction: column;

        label {
            color: var(--neutral-8-text, #333);
            font-family: Roboto;
            font-size: 15px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }

        .span-required {
            color: #e4393c;
        }

        .error-message {
            font-family: Roboto;
            color: var(--neutral-7-icon, #e40909);
            font-size: 13px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px;
            letter-spacing: 0.168px;
        }

        .div-dialog-content {
            display: flex;
            padding: 20px 30px;
            flex-direction: column;
            gap: 20px;

            .label-select {
                display: flex;
                width: 100%;
                gap: 20px;

                .custom-label-select {
                    display: flex;
                    width: 50%;
                    gap: 5px;
                    flex-direction: column;
                }

                .custom-label-category {
                    display: flex;
                    width: 50%;
                    gap: 8px;
                    flex-direction: column;
    
                    label {
                        min-width: 100px;
                    }
    
                    .div-input {
                        display: flex;
                        flex-direction: column;
                        width: 100%;
    
                        input {
                            display: flex;
                            padding: 6px 10px;
                            width: 100%;
                            justify-content: center;
                            align-items: flex-start;
                            border-radius: 3px;
                            border: 1px solid var(--Neutral-5, #acacac);
                            color: var(--neutral-7-icon, #333);
                            font-family: Roboto;
                            font-size: 15px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 20px;
                            letter-spacing: 0.14px;
                        }
    
                        input::placeholder {
                            color: var(--neutral-3-input, #e3e3e3);
                            font-family: Roboto;
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 20px;
                            letter-spacing: 0.14px;
                        }
    
                        input:focus {
                            border-color: rgb(14, 134, 194);
                            outline: none;
                        }
                    }
                }
            }
            
            .custom-label-note {
                display: flex;
                gap: 5px;
                flex-direction: column;

                input {
                    display: flex;
                    height: 64px;
                    padding: 6px 10px;
                    width: 100%;
                    justify-content: center;
                    align-items: flex-start;
                    border-radius: 3px;
                    border: 1px solid var(--Neutral-5, #acacac);
                    color: var(--neutral-7-icon, #333);
                    font-family: Roboto;
                    font-size: 15px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 20px;
                    letter-spacing: 0.14px;
                }

                input::placeholder {
                    color: var(--neutral-3-input, #e3e3e3);
                    font-family: Roboto;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 20px;
                    letter-spacing: 0.14px;
                }

                input:focus {
                    border-color: rgb(14, 134, 194);
                    outline: none;
                }
            }
        }

        .div-dialog-action {
            display: flex;
            padding: 0 30px 20px;
            gap: 15px;

            button {
                display: flex;
                align-items: center;
                justify-content: center;
                border: none;
                border-radius: 3px;
                margin: 0;
            }

            .btn-close {
                padding: 3px 15px;
                background: var(--neutral-4-line, #d8d7d7);
                color: var(--neutral-8-text, #333);
                text-align: center;
                font-family: Roboto;
                font-size: 14px;
                font-style: normal;
                font-weight: 600;
                line-height: 20px;
                letter-spacing: 0.168px;
            }

            .btn-save-out {
                padding: 3px 15px;
                background: var(--Sematics-Success-2, #138300);
                color: #fff;
                text-align: center;
                font-family: Roboto;
                font-size: 14px;
                font-style: normal;
                font-weight: 600;
                line-height: 20px;
                letter-spacing: 0.168px;
            }

            .btn-save-continue {
                padding: 3px 15px;
                background: var(--Sematics-Success-2, #138300);
                color: #fff;
                text-align: center;
                font-family: Roboto;
                font-size: 14px;
                font-style: normal;
                font-weight: 600;
                line-height: 20px;
                letter-spacing: 0.168px;
            }
        }
    }
}
