.div-supplier {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;

    .custom-toast-container {
        top: 53px;

        .div-undo {
            display: flex;
            align-items: center;
            justify-content: space-between;

            p {
                color: var(--Neutral-9, #131313);
                font-family: Roboto;
                font-size: 15px;
                font-style: normal;
                font-weight: 400;
                line-height: 16px;
                letter-spacing: 0.144px;
            }

            button {
                padding: 8px;
                border: none;
                border-radius: 3px;
                background: var(--neutral-4-line, #d8d7d7);
                color: var(--neutral-8-text, #333);
                text-align: center;
                font-family: Roboto;
                font-size: 15px;
                font-style: normal;
                font-weight: 600;
                line-height: 16px;
                letter-spacing: 0.144px;
            }
        }
    }

    .form-search-setting {
        display: flex;
        padding: 20px;
        margin-top: 10px;
        margin-left: 10px;
        gap: 20px;
        border-radius: 0px 0px 3px 3px;
        background: var(--default-white, #fff);
        align-items: center;
        justify-content: space-between;
        width: calc(100% - 20px);
        box-sizing: border-box;

        .form-search {
            display: flex;
            gap: 15px;
            width: 70%;
            min-width: 450px;

            .input-search {
                display: flex;
                width: 100%;
                min-width: 300px;
                height: 39px;
                justify-content: center;
                align-items: center;
                gap: 5px;
                border-radius: 3px;
                border: 1px solid var(--neutral-5, #acacac);

                .div-icon-search {
                    display: flex;
                    width: 20px;
                    height: 20px;
                    padding: 10px 0 10px 10px;
                    justify-content: center;
                    align-items: center;
                }

                .input-field {
                    flex: 1 0 0;
                    box-sizing: border-box;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    font-family: Roboto;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 20px;
                    letter-spacing: 0.14px;
                    border: none;
                    outline: none;
                }
            }
        }

        .form-setting {
            display: flex;
            gap: 15px;
            width: 40%;
            justify-content: flex-end;

            .btn-re-setting {
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 3px;
                background: var(--neutral-2-f-2, #f2f2f2);
                width: 90px;
                height: 32px;
                border: none;

                .p-re-setting {
                    margin: 0;
                    color: var(--Neutral-5, #ACACAC);
                    text-align: center;
                    font-family: Roboto;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 20px;
                    letter-spacing: 0.168px;
                }
            }

            .btn-search {
                display: flex;
                width: 90px;
                height: 32px;
                justify-content: center;
                align-items: center;
                border-radius: 3px;
                background: var(--sematics-success-2, #138300);
                border: none;

                .p-search {
                    color: var(--default-white, #fff);
                    text-align: center;
                    font-family: Roboto;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 20px;
                    letter-spacing: 0.168px;
                }
            }
        }
    }

    .div-supplier-list {
        display: flex;
        padding: 20px;
        margin-top: 10px;
        margin-left: 10px;
        border-radius: 3px;
        background: var(--default-white, #fff);
        width: calc(100% - 20px);
        box-sizing: border-box;

        .div-table {
            display: flex;
            border-radius: 3px;
            overflow: auto;
            background: var(--default-white, #fff);
            width: 100%;
            box-sizing: border-box;

            .parent-table {
                display: flex;
                position: relative;
                flex-direction: column;
                align-items: flex-start;
                width: 100%;
                // min-height: 320px;
                max-height: 400px;
                min-width: 1024px;
                z-index: 1;

                .parent-thead {
                    width: 100%;
                    border-bottom: 1px solid var(--neutral-4-line, #d8d7d7);
                    background: var(--neutral-2-f-2, #f2f2f2);
                    position: sticky;
                    top: 0;
                    z-index: 3;

                    .paren-tr-title {
                        display: grid;
                        grid-template-columns: 4% 43% 43% 10%;
                        z-index: 1;
                        padding: 10px 15px;
                        text-align: left;
                        align-items: center;

                        th {
                            align-items: center;
                            color: var(--neutral-8-text, #333);
                            font-family: Roboto;
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 600;
                            letter-spacing: 0.168px;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            min-width: 20%;
                            max-width: 100%;
                        }

                        .parent-th3 {
                            display: flex;
                            justify-content: center;
                        }
                    }
                }

                .parent-tbody {
                    width: 100%;

                    .parent-tr-normal {
                        display: grid;
                        grid-template-columns: 4% 43% 43% 10%;
                        z-index: 1;
                        padding: 8px 15px;
                        border-bottom: 1px solid var(--neutral-4-line, #d8d7d7);

                        td {
                            // display: grid;
                            align-items: center;
                            color: var(--neutral-8-text, #333);
                            font-family: Roboto;
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 20px;
                            letter-spacing: 0.14px;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            min-width: 30%;
                            max-width: 100%;
                        }

                        .parent-td0 {
                            display: flex;
                            justify-content: center;
                            cursor: pointer;
                        }

                        .parent-td1 {
                            display: flex;
                            color: var(--Sematics-Success-1, #1ba103);
                            font-weight: 600;
                            letter-spacing: 0.168px;
                        }

                        .parent-td2 {
                            display: flex;
                        }

                        .parent-td3 {
                            display: flex;
                            justify-content: center;
                            max-width: 100%;
                            min-width: 100%;

                            .action-button-parent {
                                display: flex;

                                .custom-action-button {
                                    display: flex;
                                    background: var(--default-white, #fff);
                                    border: none;
                                    border-radius: 100px;
                                    padding: 3px;
                                    cursor: pointer;
                                }
                                .custom-action-button:hover {
                                    background-color: var(
                                        --neutral-2-f-7,
                                        #f2f2f2
                                    );
                                }
                            }
                            .action-list {
                                position: absolute;
                                z-index: 2;
                                display: flex;
                                transform: translate(-85%, 30%);
                                padding: 10px;
                                width: 200px;
                                flex-direction: column;
                                align-items: flex-start;
                                gap: 5px;
                                border-radius: 3px;
                                background: var(--default-white, #fff);
                                box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.15),
                                    0px 2px 6px 0px rgba(0, 0, 0, 0.05),
                                    0px 4px 12px 0px rgba(0, 0, 0, 0.08);

                                .action-item-create {
                                    display: flex;
                                    align-items: center;
                                    align-self: stretch;
                                    border-radius: 3px;
                                    cursor: pointer;
                                    background: var(--neutral-1-f-6, #f6f6f6);
                                    transition: all 0.4s
                                        cubic-bezier(0.93, 0.88, 0.1, 0.8);
                                    border-bottom: solid 1px #d8d7d7;

                                    .btn-create {
                                        width: 100%;
                                        display: flex;
                                        align-items: center;
                                        justify-content: flex-start;
                                        padding: 5px;
                                        gap: 10px;
                                        color: var(--sematics-success-2, #333);
                                        font-family: Roboto;
                                        font-size: 14px;
                                        font-style: normal;
                                        font-weight: 400;
                                        line-height: 20px;
                                        letter-spacing: 0.14px;
                                        border: none;
                                        background: var(--neutral-1-f-6, #fff);
                                    }
                                }
                                .action-item-create:hover {
                                    transform: scale(1.05);
                                    background-color: var(
                                        --neutral-2-f-7,
                                        #f2f2f2
                                    );
                                }
                            }
                        }
                        &:hover {
                            background: #f6f6f6;
                        }
                    }

                    .actionPr-open {
                        background-color: #fbfaf4;
                    }

                    .sub-tr {
                        display: grid;

                        .sub-table {
                            width: 100%;
                            .sub-tbody {
                                .sub-tr-normal {
                                    display: grid;
                                    align-items: center;
                                    grid-template-columns: 5% 42% 43% 10%;
                                    z-index: 1;
                                    padding: 8px 15px;
                                    border-bottom: 1px solid
                                        var(--neutral-4-line, #d8d7d7);
                                    background: #fbfaf4;

                                    td {
                                        display: flex;
                                        align-items: center;
                                        color: var(--neutral-8-text, #333);
                                        font-family: Roboto;
                                        font-size: 14px;
                                        font-style: normal;
                                        font-weight: 400;
                                        line-height: 20px;
                                        letter-spacing: 0.14px;
                                        overflow: hidden;
                                        text-overflow: ellipsis;
                                        white-space: nowrap;
                                        min-width: 30%;
                                        max-width: 100%;
                                        height: 100%;
                                    }

                                    .sub-td0 {
                                        max-width: 45px;
                                    }

                                    .sub-td2 {
                                        display: flex;
                                    }

                                    .sub-td3 {
                                        display: flex;
                                        justify-content: center;
                                        max-width: 100%;
                                        min-width: 100%;

                                        .action-button-sub {
                                            display: flex;

                                            .custom-action-button {
                                                display: flex;
                                                background: var(
                                                    --default-white,
                                                    #fff
                                                );
                                                border: none;
                                                border-radius: 100px;
                                                padding: 3px;
                                                cursor: pointer;
                                            }
                                            .custom-action-button:hover {
                                                background-color: var(
                                                    --neutral-2-f-7,
                                                    #f2f2f2
                                                );
                                            }
                                        }
                                        .action-list {
                                            position: absolute;
                                            z-index: 2;
                                            display: flex;
                                            transform: translate(-85%, 15%);
                                            padding: 10px;
                                            width: 200px;
                                            flex-direction: column;
                                            align-items: flex-start;
                                            gap: 5px;
                                            border-radius: 3px;
                                            background: var(
                                                --default-white,
                                                #fff
                                            );
                                            box-shadow: 0px 1px 3px 0px
                                                    rgba(0, 0, 0, 0.15),
                                                0px 2px 6px 0px
                                                    rgba(0, 0, 0, 0.05),
                                                0px 4px 12px 0px
                                                    rgba(0, 0, 0, 0.08);

                                            .action-item-create {
                                                display: flex;
                                                align-items: center;
                                                align-self: stretch;
                                                border-radius: 3px;
                                                cursor: pointer;
                                                background: var(
                                                    --neutral-1-f-6,
                                                    #f6f6f6
                                                );
                                                transition: all 0.4s
                                                    cubic-bezier(
                                                        0.93,
                                                        0.88,
                                                        0.1,
                                                        0.8
                                                    );
                                                border-bottom: solid 1px #d8d7d7;

                                                .btn-create {
                                                    width: 100%;
                                                    display: flex;
                                                    align-items: center;
                                                    justify-content: flex-start;
                                                    padding: 5px;
                                                    gap: 10px;
                                                    color: var(
                                                        --sematics-success-2,
                                                        #333
                                                    );
                                                    font-family: Roboto;
                                                    font-size: 14px;
                                                    font-style: normal;
                                                    font-weight: 400;
                                                    line-height: 20px;
                                                    letter-spacing: 0.14px;
                                                    border: none;
                                                    background: var(
                                                        --neutral-1-f-6,
                                                        #fff
                                                    );
                                                }
                                            }
                                            .action-item-create:hover {
                                                transform: scale(1.05);
                                                background-color: var(
                                                    --neutral-2-f-7,
                                                    #f2f2f2
                                                );
                                            }

                                            .action-item {
                                                display: flex;
                                                align-items: center;
                                                align-self: stretch;
                                                border-radius: 3px;
                                                cursor: pointer;
                                                background: var(
                                                    --neutral-1-f-6,
                                                    #f6f6f6
                                                );
                                                transition: all 0.4s
                                                    cubic-bezier(
                                                        0.93,
                                                        0.88,
                                                        0.1,
                                                        0.8
                                                    );

                                                .btn-edit {
                                                    width: 100%;
                                                    display: flex;
                                                    align-items: center;
                                                    justify-content: flex-start;
                                                    padding: 5px;
                                                    gap: 10px;
                                                    color: var(
                                                        --sematics-success-2,
                                                        #138300
                                                    );
                                                    font-family: Roboto;
                                                    font-size: 14px;
                                                    font-style: normal;
                                                    font-weight: 400;
                                                    line-height: 20px;
                                                    letter-spacing: 0.14px;
                                                    border: none;
                                                    background: var(
                                                        --neutral-1-f-6,
                                                        #f6f6f6
                                                    );
                                                }
                                                .btn-delete {
                                                    width: 100%;
                                                    display: flex;
                                                    align-items: center;
                                                    justify-content: flex-start;
                                                    padding: 5px;
                                                    gap: 10px;
                                                    color: var(
                                                        --sematics-danger-2,
                                                        #ff3434
                                                    );
                                                    font-family: Roboto;
                                                    font-size: 14px;
                                                    font-style: normal;
                                                    font-weight: 400;
                                                    line-height: 20px;
                                                    letter-spacing: 0.14px;
                                                    border: none;
                                                    background: var(
                                                        --neutral-1-f-6,
                                                        #f6f6f6
                                                    );
                                                }
                                            }
                                            .action-item:hover {
                                                transform: scale(1.05);
                                                background-color: var(
                                                    --neutral-2-f-7,
                                                    #f2f2f2
                                                );
                                            }
                                        }
                                    }
                                    &:hover {
                                        background: #f6f6f6;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .div-paginate {
        display: flex;
        padding: 4px 10px 4px 10px;
        margin: 10px 0 10px 10px;
        border-radius: 3px;
        gap: 20px;
        justify-content: flex-end;
        background: var(--default-white, #fff);
        width: calc(100% - 20px);
        box-sizing: border-box;

        .div-itemsPerPage {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            gap: 20px;

            p {
                color: var(--neutral-8-text, #333);
                text-align: center;
                font-family: Roboto;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 20px;
                letter-spacing: 0.14px;
            }

            .div-selectItem {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                gap: 10px;

                select {
                    display: flex;
                    padding: 1px 5px;
                    align-items: center;
                    gap: 3px;
                    border-radius: 3px;
                    border: 1px solid var(--neutral-7-icon, #707070);
                    background: var(--default-white, #fff);
                    color: var(--neutral-8-text, #333);
                    text-align: center;
                    font-family: Roboto;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 20px;
                    letter-spacing: 0.14px;
                }
            }

            .div-from-to {
                display: flex;
            }
        }

        .pagination {
            display: flex;
            align-items: center;
            gap: 3px;
            margin: 0;

            li {
                display: inline-block;
                padding: 8px 0;

                a {
                    color: #000;
                    text-decoration: none;
                    padding: 8px 12px;
                    border-radius: 3px;
                    border: 1px solid var(--neutral-7-icon, #707070);
                    color: var(--neutral-8-text, #333);
                    text-align: center;
                    font-family: Roboto;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;

                    &:hover {
                        cursor: pointer;
                        color: var(--default-white, #fff);
                        background: var(--sematics-success-2, #138300);
                    }
                }

                .link-prev-next {
                    display: flex;
                    padding: 4px;
                    align-items: flex-start;
                    gap: 10px;
                }
            }
            .active a {
                color: var(--default-white, #fff);
                background: var(--sematics-success-2, #138300);
            }
        }
    }
}

// @media  (max-width: 1300px) {
//     .input-search    {
//         width: 100px !important;
//     }
//   }
