.dropdownSelect-primereact {
    display: flex;
    justify-content: center;
    width: 100%;
    border-radius: 3px;
    border: 1px solid var(--Neutral-5, #acacac);

}

.p-dropdown-label {
    color: var(--neutral-8-text, #333);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.14px;
    padding: 6px 10px;
}

.p-dropdown-panel {
    margin-top: 5px;
}

.p-dropdown-items {
    padding: 0;
}

.p-dropdown-item {
    color: var(--neutral-8-text, #333);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.14px;
    padding: 6px 10px;
}